html{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background:#263238;
}

body {
  background: #263238;
  color: #BBC4C8;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.head {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.bookmark {
  display: flex;
  justify-content: space-evenly;
}

.bookmarks {
  display: flex;
  flex-direction: column;
  border: #191C1E;
  border-radius: 3px;
  box-shadow: 0px 4px 5px #171D20;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #222D32;
}

.logo {
  align-self: center;
  padding: 15px;
  margin-bottom: 20px;
}

.icon {
  align-self: center;
  margin: auto;
  height: 70px;
  width: auto;
}

.divicon {
  margin-bottom: 10px;
  display: flex;
  min-width: 150px;
}

.input_box {
  border: none;
  outline: none;
  background: none;
  vertical-align: middle;
  padding-right: 15px;
  padding-left: 15px;
  width: 422px;
  color: whitesmoke;
  font-size: 22px;
  border-radius: 0px 0px 0px 0px;
  height: 70px;
  text-align: center;
  align-self: center;
  margin-bottom: 40px;
}

.dSearch {
  /*position: sticky;*/
  margin-top: -12px;
  margin-left: 20px;
}

.button {
  background: none;
  border: none;
  transition-duration: 0.6s;
  position: relative;
  padding-left: 11px;
  padding-right: 12px;
  height: 70px;
  opacity: 60%;
  padding-top: 3px;
}

.engine {
  /*background: none;*/
  padding-left: 12px;
  padding-right: 11px;
  border: none;
  transition-duration: 0.6s;
  position: relative;
  opacity: 60%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 70px;
  width: auto;
}

form {
  margin: 0px;
  padding: 0px;
}

.search_box {
  background: #222D32;
  width: 600px;
  padding: 0px;
  margin-bottom: 40px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 4px 5px #171D20;
  align-self: center;
  height: 80px;
  text-align: center;
  vertical-align: middle;
}

.engine:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 100%;
}

.button:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 100%;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px
}

a:link {
  text-decoration: none;
  color: #8F9191;
}

a:visited {
  color: #8F9191;
}

a:hover {
  color: #BD3CD3;
}

div.bookmarks.learn a:hover {
  color: #00CF35;
}

div.bookmarks.talk a:hover {
  color: #FF8A00;
}

div.bookmarks.ent a:hover {
  color: #FF492F;
}

div.bookmarks.shop a:hover {
  color: #00B8FF;
}

div.bookmarks.read a:hover {
  color: #FF62CE;
}
